<footer>
    <h1>Problems adapted from <a href="https://projecteuler.net/about" class="text-blue-500">Project Euler</a>. <a href="https://github.com/gordoncyu/startup" class="text-blue-500">1337code src</a></h1>
</footer>
