<header class="flex justify-between items-center py-6 border-b border-gray-700">
    <span style="display: flex; justify-content: space-between; align-items: center;">
        <h1 class="text-3xl font-bold"><a hx-get="/comp/problems" hx-target="main" hx-swap="outerHTML">1337code</a></h1>
        <img src="/images/1337codelogo.png" style="width: 60px; vertical-align: middle;">
    </span>
<% if (typeof username === 'string') { %>
    <%- include('userDisplay') %>
<% } else if (username === null) { %>
    <%- include('login') %>
<% } %>
</header>
