<p style="display: flex; justify-content: space-between">Username: <%= username %>&nbsp;&nbsp;
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Neovim-mark.svg/1200px-Neovim-mark.svg.png"
        alt="NeoVim" class="w-5 h-5 inline-block align-middle">
</p>
